:root {
  --jonquil: #f0c808ff;
  --steel-teal: #62929eff;
  --dark-teal: #466972;
  --papaya-whip: #fff1d0ff;
  --orange-red: #f26419ff;
  --black-coffee: #2e1f27ff;
  --margin-left-line: 50px;
  --margin-bottom: 20px;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--steel-teal);
}
header {
  /* background-color: black; */
  height: fit-content;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

#headerWrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-left: var(--margin-left-line);
  margin-top: 25px;
}
#headerWrapper > * {
  margin: 0;
}

#cityWrapper {
  display: flex;
  font-size: 3rem;
  align-items: center;
  gap: 25px;
}
#currentWeatherIcon {
  color: var(--orange-red);
}
#cityWrapper > * {
  margin: 0;
}
#temperature {
  font-size: 7rem;
  color: var(--jonquil);
}

#weatherRow {
  display: flex;
  align-items: left;
  justify-content: left;
  gap: 20px;
}
/*targeting just the data, not the h2 */
#weatherRow > * > :nth-child(2n) {
  font-size: 2rem;
}
#inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  height: 100%;
  margin-right: var(--margin-left-line);
  gap: 15px;
}
#map {
  display: flex;
  height: 200px;
  width: 300px;
}
#inputRow {
  position: relative;
  display: flex;
  justify-content: end;
  width: 100%;
  height: 50px;
}
::placeholder {
  color: white;
}
input::after {
  border: none;
}
input {
  position: relative;
  background-color: var(--dark-teal);
  color: white;

  border: none;
  border-radius: 15px;
  padding: 15pt;
  width: 75%;
  height: 20%;
  font-size: 1.3rem;
}
#submitBtn {
  font-size: 1rem;
  position: absolute;
  top: 33%;
  right: 2%;
  border: none;
  color: var(--jonquil);
  font-weight: bold;
  background-color: var(--dark-teal);
  cursor: pointer;
}

#weatherRow > * > * {
  margin: 0;
}

#hr {
  background-color: var(--jonquil);
  font-size: 50px;
  height: 1px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 15px;
}

section {
  height: 80%;
  /* background-color: black; */
  margin: 0;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
}

#day_forecast {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: end;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: var(--margin-bottom);
}
.dailyForecastBox {
  display: flex;
  flex-direction: column;
  color: white;
  height: fit-content;
  width: fit-content;
  display: flex;
  margin-left: var(--margin-left-line);
  gap: 10px;
}
.dayForecastHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tempRainContainer {
  display: flex;
  gap: 15px;
}

.dailyForecastBox > * {
  margin: 0;
}
.dailyForecastBox > * > * {
  margin: 0;
}
.tempRainContainer > * > * {
  margin: 0;
}

.time {
  font-size: 3rem;
}
.forecastIcon {
  font-size: 3rem;
  margin-right: 25px;
  color: var(--orange-red);
}
.temp {
  font-size: 2rem;
  color: var(--jonquil);
}
.rain {
  font-size: 2rem;
}

#weekForecast {
  /*
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: var(--margin-left-line);
  margin-bottom: var(--margin-bottom);
  justify-items: start;
  align-items: end;
  */
  display: flex;
  justify-content: right;
  align-items: flex-end;
  margin-top: 25px;
  gap: 40px;
  color: white;
  margin-right: var(--margin-left-line);
  margin-bottom: var(--margin-bottom);
  flex-wrap: wrap;
}

.dayAndIconContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dayAndIconContainer > * {
  margin: 0;
}

.dayOfWeek {
  font-size: 2.2rem;
  color: var(--jonquil);
}

.weatherIconWeekly {
  color: var(--orange-red);
  font-size: 2rem;
}

.highAndLowContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 25px;
}

.highAndLowContainer > * {
  margin: 0;
}

.highAndLowHeader {
  font-size: 1.5rem;
  color: white;
}
.high,
.low {
  font-size: 1.8rem;
  color: var(--jonquil);
}

/*
.high {
  color: var(--jonquil);
}
.low {
  color: var(--papaya-whip);
}
*/
